{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="header clearfix">
  {% if not current_user.id %}
    <h1 align="left">Golf Training</h1>
  {% else %}
    <h1>Welcome to Golf Training, {{ current_user.first_name }}!</h1>
  {% endif %}

</div>
<div class="jumbotron">
  <h1>Golf Training made easy</h1>
  <p class="lead">Create a feedback poll</p>
  
  {% if not current_user %}
  <p><a class="btn btn-lg btn-success" href="{{ url_for('auth.sign_up') }}" role="button">Sign up</a></p>
  {% else %}
  <p><a class="btn btn-lg btn-success" href="/polls" role="button">Create a poll</a></p>
  {% endif %}
</div>
<br />
<br />
<div class="row marketing">
  <div class="col-lg-6">
    <h3>Satisfaction rates</h3>
    <p>Having satisfied participants is key to getting new members!</p>
  </div>

  <div class="col-lg-6">
    {% if not current_user.id %}
    <h3 class="form-header">Login</h3>
    
    <form method="post" action="{{ url_for("auth.login") }}">
      <div class="form-group has-success">
        <input type="text" class="form-control" name="email" placeholder="E-mail" />
      </div>

      <div class="form-group has-success">
        <input type="password" class="form-control" name="password" placeholder="Password" />
      </div>

      <button type="submit" name="submit" class="btn btn-success">Submit</button>
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}
