{% extends "base.html"%} {% block title %} User Profile {% endblock %} {% block
content %}
<h3 align="left">{{ user.first_name }}</h3>

<form action="update-user" method="POST">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-floating mb-3">
        <input
          class="form-control"
          type="text"
          name="user_first_name"
          id="user_first_name"
          value="{{ user.first_name }}"
        />
        <label for="user_first_name" class="form-label">First Name</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-floating mb-3">
        <input
          class="form-control"
          type="text"
          name="user_last_name"
          id="user_last_name"
          value="{{ user.last_name }}"
        />
        <label for="user_last_name" class="form-label">Last Name</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-floating mb-3">
        <input
          class="form-control"
          type="text"
          name="user_email"
          id="user_email"
          value="{{ user.email }}"
        />
        <label for="user_email" class="form-label">E-mail</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-floating mb-3">
        <input
          class="form-control"
          type="password"
          name="password1"
          id="password1"
          placeholder="Password"
        />
        <label for="password1" class="form-label">Password</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-floating mb-3">
        <input
          class="form-control"
          type="password"
          name="password2"
          id="password2"
          placeholder="Confirm Password"
        />
        <label for="password2" class="form-label">Confirm Password</label>
      </div>
    </div>
  </div>
  <input type="hidden" id="user_id" name="user_id" value="{{ user.id }}" />
  <button type="submit" class="btn btn-warning" aria-label="Update">
    Update Profile
  </button>
</form>

{% endblock %}
