{% extends "base.html" %} {% block title %}Users{% endblock %} {% block content
%} {% if user.id == 1 or user.admin%}
<h1 align="left">Users</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">E-MAIL</th>
      <th scope="col">ADMIN</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for user_it in all_users %}
    <tr>
      <th scope="row">{{ user_it.id }}</th>
      <td>{{ user_it.first_name }} {{ user_it.last_name }}</td>
      <td>{{ user_it.email }}</td>
      <td>{{ user_it.admin }}</td>
      <td>
        {% if user.admin == True or user.id == 1 %}
        <form method="POST" action="edit-user">
          {{ form.csrf_token() }}
          <input
            type="hidden"
            id="user_id"
            name="user_id"
            value="{{ user_it.id }}"
          />
          <button
            type="submit"
            action="edit-user"
            class="btn btn-warning"
            aria-label="Edit"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-danger pull-right"
            aria-label="Delete"
            onClick="deleteUser({{ user_it.id }})"
          >
            Delete
          </button>
        </form>
        {% endif %}
        <!-- <button
          type="button"
          class="btn btn-warning pull-right"
          aria-label="Edit user"
          onClick=""
        >
          Edit
        </button> -->
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %} {% endif %} {% endblock %}
